
<div *ngIf="shelter">
    <h2><span jhiTranslate="shelterApp.shelter.detail.title">Shelter</span> {{shelter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shelterApp.shelter.name">Name</span></dt>
        <dd>
            <span>{{shelter.name}}</span>
        </dd>
        <dt><span jhiTranslate="shelterApp.shelter.address">Address</span></dt>
        <dd>
            <span>{{shelter.address}}</span>
        </dd>
        <dt><span jhiTranslate="shelterApp.shelter.latitude">Latitude</span></dt>
        <dd>
            <span>{{shelter.latitude}}</span>
        </dd>
        <dt><span jhiTranslate="shelterApp.shelter.longitude">Longitude</span></dt>
        <dd>
            <span>{{shelter.longitude}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'shelter/'+ shelter.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
